/* -----------------------------------
** Extra utils
-------------------------------------*/
.cursor-pointer{
  cursor: pointer;
}
.router-wrapper{
  padding-top: 30px;
  padding-bottom: 30px;
}
/* -----------------------------------
** End Extra utils
-------------------------------------*/

